.login_section {
  padding: 20px;
  margin-top: 100px;
  .login_container {
    max-width: 1400px;
    margin: 0 auto;
    .login_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      .login_box {
        background: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 400px;
        gap: 20px;
        border-radius: 10px;
        padding: 15px;
        .sign-in_box {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          span .register_link {
            text-decoration: none;
            color: #1976d2;
          }
        }
        .enter-info_box {
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 100%;
        }
      }
    }
  }
}