.card_box {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 0.1s;
  .card_movie_title-mobile {
    position: relative;
    color: #ff001e;
    display: none;
    padding-top: 10px;
    font-weight: 300;
  }
  .premiere_span {
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: #1976d2;
    padding: 4px;
    border-radius: 4px;
    z-index: 3;
  }
  .card_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .card_top_actions {
    opacity: 0;
    overflow: hidden;
    transition: 0.2s;
    position: absolute;
    top: 3%;
    right: 3%;
    display: flex;
    flex-direction: column;
    z-index: 3;
    .save-to-favourite_box:hover .save-to-favourite_text {
      opacity: 1;
      transition: 0.2s;
      left: -50px;
    }
    .save-to-favourite_box {
      position: relative;
      .save-to-favourite_text {
        transition: 0.2s;
        opacity: 0;
        position: absolute;
        top: 30px;
        left: 50px;
        white-space: nowrap;
        text-align: center;
        font-size: 12px;
        border-radius: 5px;
        padding: 5px;
        background: #333333;
        color: #fff;
      }
      .save-to-favourite_btn {
        width: 20px;
        height: 20px;
        border: none;
        background: none;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
      }
    }
  }
  .card_top_backblur {
    opacity: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  .card_bottom_info {
    transition: 0.3s;
    position: absolute;
    opacity: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 15px;
    z-index: 2;
  }
  .card_bottom_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .card_info {
      display: flex;
      align-items: center;
      gap: 10px;
      .card_movie_title {
        font-size: 12px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
      }
      .card_movie_point_review {
        font-size: 12px;
        color: #fff;
        padding: 3px;
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
      }

      .card_movie_date {
        font-size: 12px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
      }

      .card_movie_genre {
        font-size: 12px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
      }

      .card_movie_time {
        font-size: 12px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}