@media screen and (max-width: 1000px) {
  .movie_subs-carousel_section {
    .container_subs {
      .custom_prev_cards {
        opacity: 1;
      }
      .custom_next_cards {
        opacity: 1;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .card_box {
    height: 100%;
    .card_movie_title-mobile {
      padding: 5px;
      display: block;
    }
  }
}
@media screen and (min-width: 768px) {
  .card_box:hover .card_bottom_info {
    opacity: 1;
    transition: 0.5s linear;
  }

  .card_box:hover .card_top_backblur {
    opacity: 1;
    transition: 0.3s linear;
  }
  .card_box:hover .card_top_actions {
    opacity: 1;
    overflow: visible;
    transition: 0.2s;
  }
}

@media screen and (max-width: 450px) {
  .swiper_section {
    .swiper_container {
      .swiper_box {
        .swiper_slider {
          .swiper_element {
            width: 150px !important;
          }
        }
      }
    }
  }
}