.website_wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
}

.movie_carousel_section {
  padding: 0 20px;
  .container:hover .custom_prev {opacity: 1; transition: 0.3s}
  .container:hover .custom_next {opacity: 1; transition: 0.3s}
  .container {
    position: relative;
    .swiper {
      width: 100%;
      height: 500px;
    }
    .custom_prev {
      transition: 0.3s;
      opacity: 0;
      position: absolute;
      top: 50%;
      cursor: pointer;
      background: green;
      z-index: 99;
      background: rgba(0, 0, 0, 0.3);
      border: none;
      color: #fff;
      font-size: 23px;
      left: 10px;
      border-radius: 10px;
      padding: 20px 12px;
    }
    .custom_next {
      transition: 0.3s;
      opacity: 0;
      position: absolute;
      top: 50%;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3);
      z-index: 99;
      color: #fff;
      font-size: 23px;
      right: 10px;
      border: none;
      backdrop-filter: blur(10px);
      border-radius: 10px;
      padding: 20px 12px;
    }
    .inner_box {
      position: relative;
      display: flex;
      padding: 20px;
      .carousel_item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 15px;
        .movie_backBg {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          z-index: 2;
          border-radius: 15px;
        }
        .movie_backPoster {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          border-radius: 15px;
        }
        .movie_title {
          font-family: 'Montserrat', sans-serif;
          font-size: 25px;
          color: #fff;
          z-index: 3;
          padding: 15px 0;
        }
        .premiere_block {
          z-index: 3;
          display: flex;
          align-items: flex-start;
          flex-grow: 1;
          .movie_premiere_span {
            padding: 3px;
            border-radius: 4px;
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            background: #8f00ff;
          }
        }
        .carousel_item_info {
          display: flex;
          gap: 15px;
          align-items: center;
          z-index: 3;
          .movie_review_point {
            padding: 3px 4px;
            border-radius: 3px;
            font-family: 'Montserrat', sans-serif;
            color: #fff;
          }
          .movie_date {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
          }
          .movie_category {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
          }
          .movie_season {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
          }
          .movie_age_limit {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
          }
        }
      }
    }
  }
}
.movie_category-carousel_section {
  padding: 20px;
  .container_category {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    gap: 15px;
    .category_genres_title {
      color: #fff;
    }
    .category_inner_box:hover .custom_prev_category {opacity: 1; transition: 0.3s}
    .category_inner_box:hover .custom_next_category {opacity: 1; transition: 0.3s}
    .category_inner_box {
      display: flex;
      overflow: hidden;
      align-items: center;
      width: 100%;
      .custom_prev_category {
        transition: 0.3s;
        opacity: 0;
        position: absolute;
        cursor: pointer;
        background: green;
        z-index: 99;
        background: rgba(0, 0, 0, 0.3);
        border: none;
        color: #fff;
        font-size: 23px;
        left: 10px;
        border-radius: 99em;
        padding: 15px;
      }
      .custom_next_category {
        transition: 0.3s;
        opacity: 0;
        position: absolute;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3);
        z-index: 99;
        color: #fff;
        font-size: 23px;
        right: 10px;
        border: none;
        backdrop-filter: blur(10px);
        border-radius: 99em;
        padding: 15px;
      }
      .category_item {
        .category_item_button {
          width: auto !important;
          .category_item_block {
            position: relative;
            .category_item_route {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
            }
          }
        }
        .icons_in_button {
          margin: 5px;
        }
      }
    }
  }
}

.cinema_description_section {
  padding: 20px;
  .cinema_description_container {
    max-width: 1400px;
    margin: 0 auto;
    .box {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
      background: #333333;
      padding: 15px;
      border-radius: 10px;
      .inner_box.Active {
        will-change: height;
        max-height: 500px;
      }
      .inner_box {
        will-change: height;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 800px;
        max-height: 100px;
        overflow: hidden;
        align-items: flex-start;
        .cinema_description_title {
          color: #fff;
          font-size: 20px;
        }
        .cinema_description_pg {
          color: gainsboro;
          font-size: 15px;
        }
      }
      .cinema_description_hide-btn:hover {
        color: #fff;
        transition: 0.2s;
      }
      .cinema_description_hide-btn {
        border: none;
        background: none;
        transition: 0.2s;
        cursor: pointer;
        color: #c7c7c7;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}